In [2]:
from dotenv import load_dotenv
import os
import pymysql as pm

# load .env
load_dotenv()

conn = pm.connect(
    host=os.environ.get('SQLHOST'),
    port=int(os.environ.get('SQLPORT')),
    user=os.environ.get('SQLUSER'),
    password=os.environ.get('SQLPW'),
    database='wrtn_char',
    charset='utf8mb4'
)

cursor = conn.cursor()

In [9]:
import pandas as pd

cursor.execute("SELECT * FROM char_cat")
result = cursor.fetchall()

char_cat = pd.DataFrame(result, columns=['id', 'name', 'writer', 'category'])

char_cat.head(10).to_csv('char_cat(10).csv', index=False)

In [10]:
cursor.execute("SELECT * FROM char_info")
result = cursor.fetchall()

char_info = pd.DataFrame(result, columns=['id', 'name', 'comment', 'first_dial', 'writer', 'img', 'ext'])

char_info.head(10).to_csv('char_info(10).csv', index=False)

In [10]:
try:
    cursor.execute("CREATE DATABASE wrtn_char")
except:
    print("Already exist DB(wrtn_char)")

Already exist DB(wrtn_char)

In [11]:
cursor.execute("USE wrtn_char")

0

In [13]:
create_cat = ''' CREATE TABLE `char_cat` (
	`name` VARCHAR(50) NOT NULL,
	`category` VARCHAR(20) NOT NULL,
	PRIMARY KEY (`name`),
	UNIQUE KEY (`name`)
);'''

create_info = '''CREATE TABLE `char_info` (
	`name` VARCHAR(50) NOT NULL,
	`comment` TEXT NOT NULL,
	`first_dial` TEXT NOT NULL,
	`writer` VARCHAR(50) NOT NULL,
	`img` BLOB NOT NULL,
	`ext` VARCHAR(5) NOT NULL DEFAULT 'jpeg',
	PRIMARY KEY (`name`),
	CONSTRAINT `fk_name` FOREIGN KEY (`name`) REFERENCES `char_cat` (`name`)
    ON DELETE CASCADE ON UPDATE CASCADE
);'''

try:
	cursor.execute(create_cat)
except:
    print("Already exist Table(char_cat)")
try:
	cursor.execute(create_info)
except:
    print("Already exist Table(char_info)")

Already exist Table(char_cat)
Already exist Table(char_info)

In [14]:
conn.close()